@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/D8qa-2E/rainy-stormy-darkness-wet-weather-background-depressed-sad-background_bzxjr4x7h_thumbnail-1080_01.png');
  background-attachment: fixed;
  background-position: center;
}

.location-style {
  border: 5px solid green;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  border-style: groove;
  background-color: black;
  max-width: calc(100vh - 30vh);
}

.location-font {
  color: white;
}

.center {
  text-align: center;
}

.container {
  margin-top: 40px;
  text-align: center;
  justify-content: center;
}

ul {
  text-align: center;
  display: inline;
  list-style-position: inside;
  list-style: none
}

h4 {
  text-align: center;
}

.location-display {
  display: inline-block;
  text-align: left;
}

.location-row {
  display: inline;
}

.button {
  variant: light;
}
