@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  background-image: url('https://i.pinimg.com/originals/e3/6e/16/e36e163adaba71d5a6441ec0499829e1.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.location-style {
  border: 5px solid green;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  border-style: groove;
  background-color: black;
  max-width: calc(100vh - 30vh);
  color: white;
}

.location-font {
  color: white;
}

.center {
  text-align: center;
}

.container {
  margin-top: 40px;
  text-align: center;
  justify-content: center;
}

ul {
  text-align: center;
  display: inline;
  list-style-position: inside;
  list-style: none
}

h4 {
  text-align: center;
}

.location-display {
  display: inline-block;
  text-align: left;
}

.location-row {
  display: inline;
}

.button {
  variant: light;
}

img {
  height: 45px;
  width: 50px;
}

.weather {
  height: 300px;
  width: 350px;
  align-items: center;
}

.dropdown {
  text-align: center;
  justify-content: center;
  float: left;
}
